# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.content-negotiation.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Vitor Lima\Projetos\DevInHouse\Semana 2\content-negotiation\.idea\.idea.content-negotiation.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
